<div>
  <h1>Stupid Coaching</h1>
</div>

<div>
  <%= @answer %>
  <h2>-You</h2>
</div>

<div>
  <%= @coach %>
  <h2>-Your Coach</h2>
</div>

<div>
  <%= link_to "ask another question!", "ask" %>
</div>
