<h1>Stupid Coaching</h1>

<div class = "ask-form">
  <h2>Ask your Coach anything</h1>
  <form action="/answer">
    <input type="text" name="question">
    <input id="btn" type="submit" value="Ask!">
  </form>
</div>
